<div class='language-select'>
  <a class={{pt}} 
    data-test-selector='pt-button'
    {{action 'select' 'pt'}}>
    <img src="https://s3-sa-east-1.amazonaws.com/marcell-assets/brazil_flag.png">
  </a>
  <a class={{en}} 
    data-test-selector='en-button'
    {{action 'select' 'en'}}>
    <img src="https://s3-sa-east-1.amazonaws.com/marcell-assets/usa_flag.png">
  </a>
</div>
